<a href="https://colab.research.google.com/github/Amanraj24/app/blob/main/certification_project_dsml_internship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Certification Project</h1>

<h2 >link of Recomander System web App</h2>
<h3><a href="https://amanraj24-app-recommander-system-z3dy0d.streamlitapp.com/">https://amanraj24-app-recommander-system-z3dy0d.streamlitapp.com/</a></h3>
<h2>link of Github Repository</h2>
<h3><a href="https://github.com/Amanraj24/app">https://github.com/Amanraj24/app</a></h3>

In [ ]:
import pandas as pd

In [ ]:
import ipywidgets as widg
from IPython.display import display

In [ ]:
!wget https://www.dropbox.com/s/yy6zxp5heep5hhx/movies.csv

--2022-09-14 23:52:09--  https://www.dropbox.com/s/yy6zxp5heep5hhx/movies.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.6.18, 2620:100:6019:18::a27d:412
Connecting to www.dropbox.com (www.dropbox.com)|162.125.6.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/yy6zxp5heep5hhx/movies.csv [following]
--2022-09-14 23:52:09--  https://www.dropbox.com/s/raw/yy6zxp5heep5hhx/movies.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucb53d125e3c46affff8c7f74423.dl.dropboxusercontent.com/cd/0/inline/Bs9f-Hgh9cS2sXI2cHPm6ccxhxzXciV7ZJFMO4zBuyQukAS1PVHnVdF8R4kB25dhOOH-gFOlh6zlPhwPjhL65UvWmCjzYu8dcsBMtCtT5ERyyTXjhPn0Oo-Em7tuteHjTEvIJMNvaWg0VGaEr-zcgLoZYiTRuXNT9bMzCuIRcnnL0Q/file# [following]
--2022-09-14 23:52:10--  https://ucb53d125e3c46affff8c7f74423.dl.dropboxusercontent.com/cd/0/inline/Bs9f-Hgh9cS2sXI2cHPm6ccxhxzXciV7ZJFMO4zBuyQukAS1PVHnVdF8R4kB25dhOOH-gFOlh6zlPhwPjhL65UvWmCjzYu8dcsBMtCtT5ERyyTXjhPn0Oo-Em7tuteHjTEvIJMNvaWg0VGaEr-zcgLoZYiTRuXNT9bMzCuIRcnnL0Q/file
Resolving ucb53d125e3c46affff8c7f74423.dl.dropboxusercontent.com (ucb53d125e3c46affff8c7f74423.dl.dropboxusercontent.com)... 162.125.6.15, 2620:100:6019:15::a27d:40f
Connecting to ucb53d125e3c46affff8c7f74423.dl.dropboxusercontent.com (ucb53d125e3c46affff8c7f74423.dl.dropboxusercontent.com)|162.125.6.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 515699 (504K) [text/plain]
Saving to: ‘movies.csv’

movies.csv          100%[===================>] 503.61K  --.-KB/s    in 0.005s

2022-09-14 23:52:10 (94.8 MB/s) - ‘movies.csv’ saved [515699/515699]

In [ ]:
!wget https://www.dropbox.com/s/mzb5fdje98sqh3k/ratings.csv

--2022-09-14 23:52:15--  https://www.dropbox.com/s/mzb5fdje98sqh3k/ratings.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.6.18, 2620:100:6019:18::a27d:412
Connecting to www.dropbox.com (www.dropbox.com)|162.125.6.18|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: /s/raw/mzb5fdje98sqh3k/ratings.csv [following]
--2022-09-14 23:52:15--  https://www.dropbox.com/s/raw/mzb5fdje98sqh3k/ratings.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://ucc28776483f68ad75e45ac2c7e2.dl.dropboxusercontent.com/cd/0/inline/Bs8H8tyPXRznLQM8XL-L4HoZ5EkprwFhxd7YBFGUqk3uDujzwOvDpEJoH0pUnj3yqTd8lL_Xpk29NySQscrywlVNdpYhti38gwlTE-9fr198pvEtjnTOCzUmkC4cUi3ndp1soNXgOMFzz9K_1L0PQHV_9-arn1jP969HC37VKAskrg/file# [following]
--2022-09-14 23:52:15--  https://ucc28776483f68ad75e45ac2c7e2.dl.dropboxusercontent.com/cd/0/inline/Bs8H8tyPXRznLQM8XL-L4HoZ5EkprwFhxd7YBFGUqk3uDujzwOvDpEJoH0pUnj3yqTd8lL_Xpk29NySQscrywlVNdpYhti38gwlTE-9fr198pvEtjnTOCzUmkC4cUi3ndp1soNXgOMFzz9K_1L0PQHV_9-arn1jP969HC37VKAskrg/file
Resolving ucc28776483f68ad75e45ac2c7e2.dl.dropboxusercontent.com (ucc28776483f68ad75e45ac2c7e2.dl.dropboxusercontent.com)... 162.125.6.15, 2620:100:601f:15::a27d:90f
Connecting to ucc28776483f68ad75e45ac2c7e2.dl.dropboxusercontent.com (ucc28776483f68ad75e45ac2c7e2.dl.dropboxusercontent.com)|162.125.6.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2475052 (2.4M) [text/plain]
Saving to: ‘ratings.csv’

ratings.csv         100%[===================>]   2.36M  --.-KB/s    in 0.01s

2022-09-14 23:52:15 (193 MB/s) - ‘ratings.csv’ saved [2475052/2475052]

In [ ]:
movies=pd.read_csv("movies.csv")
ratings=pd.read_csv("ratings.csv")

In [ ]:
merged_left = pd.merge(left=movies, right=ratings, how='left', left_on='movieId', right_on='movieId')

<h1>Popularity-Based Recommender System</h1>

In [ ]:
#ipywidgets.Text() not working in colab so inputs are simply taken by input()
ge=input("Genre(g):")
th=int(input("Minimum reviews threshold(t):"))
re=int(input("Num recommendations (N) :"))

Genre(g):Comedy
Minimum reviews threshold(t):100
Num recommendations (N) :5

In [ ]:
out=merged_left[merged_left["genres"]==ge ].sort_values(by=["genres","rating","userId"], ascending=False)

In [ ]:
out.head()

,movieId,title,genres,userId,rating,timestamp,Num Reviews,Movie Title,Average Movie Rating
0,223,Clerks (1994),Comedy,666.0,5.0,1.021278e+09,666,Clerks (1994),5.0
1,1394,Raising Arizona (1987),Comedy,666.0,5.0,1.021281e+09,666,Raising Arizona (1987),5.0
2,2109,"Jerk, The (1979)",Comedy,666.0,5.0,1.021277e+09,666,"Jerk, The (1979)",5.0
3,2599,Election (1999),Comedy,666.0,5.0,1.021278e+09,666,Election (1999),5.0
4,111617,Blended (2014),Comedy,664.0,5.0,1.423497e+09,664,Blended (2014),5.0

In [ ]:
out=out[out["userId"]>=int(th)]
out["Num Reviews"]=out.userId.astype("int")
out["Movie Title"]=out.title
out["Average Movie Rating"]=out.rating.astype("float")
out=out.reset_index(drop=True)
final=out[["Movie Title","Average Movie Rating","Num Reviews"]].head(re)

In [ ]:
final

              Movie Title  Average Movie Rating  Num Reviews
0           Clerks (1994)                   5.0          666
1  Raising Arizona (1987)                   5.0          666
2        Jerk, The (1979)                   5.0          666
3         Election (1999)                   5.0          666
4          Blended (2014)                   5.0          664

<h1>Content-Based Recommender System</h1>

In [ ]:
#ipywidgets.Text() not working in colab so inputs are simply taken by input()
mv=input("Movie Title (t): ")
rec=int(input("Num recommendations (N):"))

Movie Title (t): Clerks
Num recommendations (N):20

In [ ]:
for i in range(0,len(movies)):
  Str = movies["title"][i]
  l = len(Str)
  Remove_last = Str[:l-7]
  movies["title"][i]=Remove_last

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [ ]:
n_movies=movies

In [ ]:
movie=n_movies[n_movies["title"]==mv]

In [ ]:
id=movie["movieId"].tolist()
id=id[0]

In [ ]:
genre=merged_left[merged_left["movieId"]==id]["genres"]

In [ ]:
genre=genre.unique()

In [ ]:
ge=genre.tolist()[0]

In [ ]:
out2=merged_left[merged_left["genres"]==ge ].sort_values(by=["genres","rating","userId"], ascending=False)

In [ ]:
out3=out2.reset_index(drop=True)

In [ ]:
out3["Movie Title"]=out3["title"]
out3=out3["Movie Title"].head(rec)

In [ ]:
out3=pd.DataFrame(out3)
out3

                               Movie Title
0                            Clerks (1994)
1                   Raising Arizona (1987)
2                         Jerk, The (1979)
3                          Election (1999)
4                           Blended (2014)
5                          Ref, The (1994)
6                 Cold Comfort Farm (1995)
7                      Metropolitan (1990)
8                    Producers, The (1968)
9                   My Cousin Vinny (1992)
10         Ferris Bueller's Day Off (1986)
11             Hudsucker Proxy, The (1994)
12                           Clerks (1994)
13        Robin Hood: Men in Tights (1993)
14                 Meet the Parents (2000)
15  It's a Mad, Mad, Mad, Mad World (1963)
16                 Muriel's Wedding (1994)
17            Bullets Over Broadway (1994)
18                    Happy Gilmore (1996)
19                    Billy Madison (1995)

<h1>Collaborative Based Recommender System</h1>

In [ ]:
#ipywidgets.Text() not working in colab so inputs are simply taken by input()
usr=int(input("UserID:"))
rec=int(input("Num recommendations(N):"))
thr=int(input("Threshold for similar users (k):"))

UserID:100
Num recommendations(N):50
Threshold for similar users (k):20

In [ ]:
usr_mv=merged_left[merged_left["userId"]==usr][["title","userId"]]

In [ ]:
a=usr_mv.title.tolist()
diff_usr=merged_left[merged_left["title"]==a[0]]
for i in range(1,len(a)):
  diff_usr=diff_usr.append(merged_left[merged_left["title"]==a[i]])

In [ ]:
diff_usr=diff_usr["userId"].unique()

In [ ]:
diff_usr=diff_usr.tolist()

In [ ]:
diff_usr=diff_usr[:thr]
sg_mv=merged_left[merged_left["userId"]==diff_usr[0]]
for i in range(1,len(diff_usr)):
  sg_mv=sg_mv.append(merged_left[merged_left["userId"]==diff_usr[i]])

In [ ]:
sg_mv=sg_mv.reset_index(drop=True)

In [ ]:
sg_mv=sg_mv["title"].unique()

In [ ]:
sg_mv=pd.DataFrame(sg_mv,columns=["Movie Title"])

In [ ]:
sg_mv.head(rec)

                                          Movie Title
0                                    Toy Story (1995)
1                             Grumpier Old Men (1995)
2                  Father of the Bride Part II (1995)
3                                        Nixon (1995)
4                        Sense and Sensibility (1995)
5                            Leaving Las Vegas (1995)
6           Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
7                             Dead Man Walking (1995)
8                             Mighty Aphrodite (1995)
9                   Postman, The (Postino, Il) (1994)
10                          Mr. Holland's Opus (1995)
11                                  Juror, The (1996)
12                                Broken Arrow (1996)
13         Rumble in the Bronx (Hont faan kui) (1995)
14          Star Wars: Episode IV - A New Hope (1977)
15                             River Wild, The (1994)
16                          Executive Decision (1996)
17                                       Fargo (1996)
18                                  Sgt. Bilko (1996)
19                         Mission: Impossible (1996)
20                   James and the Giant Peach (1996)
21                                     Twister (1996)
22               Independence Day (a.k.a. ID4) (1996)
23                              Cable Guy, The (1996)
24                        Nutty Professor, The (1996)
25                                  Phenomenon (1996)
26                             Time to Kill, A (1996)
27         Willy Wonka & the Chocolate Factory (1971)
28                    Star Trek: First Contact (1996)
29  Don't Be a Menace to South Central While Drink...
30                                  Braveheart (1995)
31                                     Hackers (1995)
32                                        Kids (1995)
33             Dumb & Dumber (Dumb and Dumber) (1994)
34                               Shallow Grave (1994)
35                  Ace Ventura: Pet Detective (1994)
36                              Lion King, The (1994)
37                               Jurassic Park (1993)
38                              Mrs. Doubtfire (1993)
39                                     Aladdin (1992)
40                                      Batman (1989)
41                        Beauty and the Beast (1991)
42                               Trainspotting (1996)
43                                  Old Yeller (1957)
44                         Clockwork Orange, A (1971)
45  Austin Powers: International Man of Mystery (1...
46                   Men in Black (a.k.a. MIB) (1997)
47                                       Mulan (1998)
48                        Return of Jafar, The (1994)
49                              Producers, The (1968)